doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title TMProject
  body
    h1 Login
    form(method="POST", action="/TMProject/login")
      input(type='text', name="name", placeholder='username')
      input(type="submit" value="login")
      p.message
        | Not registered?
        a(href='../TMProject/register') Create an account