doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title TMProject
    body
        a(href='/TMProject/Projects?username='+username) ⬅︎ Dashboard
        h1 Add Project
        form(method="POST", action="/TMProject/AddProject?user="+username)
            label(for="name") project name :
            input(type='text', id="name", name="name", placeholder="new project", required)
            br
            label(for="deadline") deadline :
            input(type='date', id="deadline", name="deadline", required)

            p invite max. 4 team members
            ul
                li
                    input(type="text", name="member1", placeholder="username")
                li
                    input(type="text", name="member2", placeholder="username")
                li
                    input(type="text", name="member3", placeholder="username")
                li
                    input(type="text", name="member4", placeholder="username")
            input(type="submit" value="submit", class="submit")