doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title TMProject
    body
        a(href='/TMProject/Projects?username='+username) <-Dashboard
        h1 Add Project
        form
            label(for="name") project name :
            input(type='text', id="name", name="name", placeholder="new project")
            br
            label(for="deadline") deadline :
            input(type='date', id="deadline", name="deadline")

            p invite team members (max. you+4)
            ul
                li
                    input(type="text", name="Member2", placeholder="username")
                li
                    input(type="text", name="Member3", placeholder="username")
                li
                    input(type="text", name="Member4", placeholder="username")
                li
                    input(type="text", name="Member5", placeholder="username")
            input(type="submit" value="submit", class="submit")