doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title TMProject
  body
    h1 Register
    form(method="POST", action="/TMProject/register")
      input(type='text', name="name", placeholder='name')
      //input(type='password', placeholder='password')
      //input(type='text', placeholder='email address')
      button create
      p.message
        | Already registered?
        a(href='../TMProject/login') Sign In